@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300|Amatic+SC:700|Kanit|Righteous');

.page-header {
  background: url(./media_lib/youInLogo.png) 50% 50% no-repeat;
  border-radius: 8px;
  height: 150px;
  color: white;
  vertical-align: middle;
  border-bottom: none;

}

#newUser {
  background-color: #a1172d;
  border-radius: 8px;
  height: 150px;
  color: white;
  display: flex;
  align-items: center;
  float: center;
    justify-content: center;

}

#logout {
  font-family: sans-serif;
  font-size: 20px;
  padding: 8px 8px 8px 8px;
  color: black;
  background-color: #7c9ac9;
  float: right;
}

#userName {
  float: left;
  margin: 0px;
  color: #800000;
}

.login {
  /*background-color: rgba(161, 23, 45, 0.7)*/
  /*background: url(./media_lib/campfire-984020_1920.jpg) no-repeat center center fixed;*/
}

body {
  background: url(./media_lib/campfire-984020_1920.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  vertical-align: text-bottom;
  font-size: 56px;
  text-align: center;
  color: white;
  font-family: Roboto, sans-serif;
  /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
}

h2 {
  /*vertical-align: text-bottom;*/
  /*text-align: center;*/
  color: white;
  /*font-family: Roboto, sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
font-weight: 100;
  /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
}

h4{
  color: black;
  font-family: 'Kanit', sans-serif;

}

p, li {
  color: white;
    /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
  font-family: 'Kanit', sans-serif;
}

ul {
  padding: 0;
}

.create {
  font-family: Roboto, sans-serif;
  color: black;
  text-shadow: none;
  text-align: left;
}

.list-item {
  font-size: 150%;
}

#username {
  float: left;
}

.eventlist {
  background-color: rgba(2,2,2,.5);
  border-radius: 5px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.panel {
  background: none;
}

.selected {
  background-color: #438CFF;
}

/* this all deals with the facebook login button and the formatting for the div containing the
button */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.6em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.center {
  text-align: center;
}

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

#accept-click {
  background-color: #4286f4;
  color: white;
}

#reject-click {
  background-color: #f47927;
  color: white;
}

.update{
  color: black;
}

.accepted {
  color: #4286f4;
  font-weight: bold;
}

.rejected {
  color: #f47927;
  font-weight: bold;

}

#create_event {
  font-family: sans-serif;
  font-size: 32px;
  color: white;
  background-color: #800000;
  padding: 12px 12px 12px 12px;
  border-radius: 12px;
}

#my-events-title {
  font-weight: bold;
  font-size: 42px;
  text-align: left;
  padding-left: 40px;
  color: #800000;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}

#friend-events-title {
  font-weight: bold;
  font-size: 42px;
  text-align: left;
  padding-left: 40px;
  color: #800000;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}

#headerName {
  font-weight: bold;
  color: white;
  text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
}

.goingButton {
  border-radius: 12px;
  background-color: #9fa3b7;
}

#owner-delete-button {
  border-radius: 12px;
  background-color: #f47927;
  color: black;
}

h3.sendText {
    display: inline;
}


/*================ CSS REDESIGN =================*/

.directory {
  background-color: rgb(77,57,75);
  color: white;
}

.event-title {
  background-color: rgb(231,227,217);  /* for debug */
}

.event-chat {
  background-color: rgb(230,230,230);  /* for debug */

}

.container-fluid.main{
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  color: black;
}

.col-sm-3.account{
  background-color: rgb(77, 56, 75);
  height: 100%;
  padding: 0;
}

.col-sm-12.topbar {
  background-color: antiquewhite;
  padding: 1em;
  margin: 0 auto;
  width: 100%;
  border-bottom: 2px double black;
}

.col-sm-9.right9 {
  padding: 0;
}

.col-sm-8.mainview {
  background-color: antiquewhite;
  height: 100%;
}
.col-sm-12.mainview {
  background-color: antiquewhite;
  height: 100%;
}

.col-sm-4.right4 {
  background-color: antiquewhite;
  height: 100%;
  border-left: 2px double black;
  padding: 0;
  margin: 0;
}

.col-sm-12.accountMyEvents {
    padding: 2em;
}
.col-sm-12.accountFriendEvents {
    padding: 2em;
}
.col-sm-12.accountTopBar {
    padding: 2em;
}
.row-sm-3.accountPhoto img {
  height: 4em;
  border-radius: 10%;
  float: left;
}
.row-sm-9.accountName h2 {
  display: inline;
  font-size: 2em;
}

.eventListItem li{
  font-size: 1.6em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  list-decoration: none;
}

.eventListItem li:hover {
  color: cornflowerblue;
  transition: 0.2s ease;
}

.caret-down {
  font-size: 0.5em;
  padding-left: 2em;
}

.topBar h2 {
  color: black;
  display: inline;
}

.whosIn, .friendsNameList li, .flexRowTop h2 {
  color: black;
  text-align: center;
}

.whosIn {
  font-weight: bold;
}

ul li img {
    height: 3em;
}

.progress {
  width: 20%;
  float: center;
}

.glyphicon-plus-sign {
  font-size: 0.8em;
  border: hidden;
  background-color: rgba(0, 0, 0, 0);
}

.glyphicon-plus-sign:hover {
  color: cornflowerblue;
}

.topBar h1 {
  color: black;
  display: inline;
}

.logoutButton {
   float: right;
   padding-left: 10em;
}

li.displayChatNames {
  color: black;
}

li img {
  height: 2em;
  /*margin: 0.5em;*/
  border-radius: 10%;
}

li {
  list-style: none;
}

p.msgContent{
  display: inline;
  font-size: 1.2em;
}

.msgTime{
  display: block;
  padding: 0;
  margin: 0;
  color: darkslategrey;
  font-size: 0.7em;
}

ul.flexRowMiddle p {
  color: black;
  margin: 0;
}
.msgTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.msgTopBar img{
  flex: 0 1 auto;
}

.msgTop{
  flex: auto;
}

ul.flexRowMiddle li {
}
ul.flexRowMiddle li:nth-child(odd) {
  background-color: rgba(199, 216, 199, 0.53)
}
.col-md-12 h4 {
  text-align: center;
}
.chatFlexBottom{
  flex: 0 1 auto;
  min-height: auto;
  /*border: 1 white solid;*/
  background-color: rgba(255, 255, 255, 0.68);
  /*padding: 1em;*/
}

/*.flexRowTop{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.flexRowMiddle{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}*/

.flexRowBottom{
  display: flex;
  align-items: stretch;
}

input.chatFlex4-5{
  flex: 1 1 auto;
  padding: 1em;
}

input.chatFlex1-5{
  flex: 0 1 auto;
}

.displayChatNames{
  flex: 0 1 auto;
}

input.chatFlex1-5 {
  background-color: cornflowerblue;
}

input.chatFlex1-5:hover {
  background-color: cornflowerblue;
  color: white;
}

.linkLookalike {
  color: cornflowerblue;
  text-decoration: underline;
}

.friendsTable {
  margin-left: 0;
  padding-left: 0;
  color: black;
  list-style: none;
  height: 3em;
  display: block;
}

.remindButton {
  margin: 5px;
}

